body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.esquerda {
    text-align: left;
    color: blue;
    font-size: 2em;
}

.direita {
    text-align: right;
    color: purple;
    font-size: 2em;
}

.centro {
    text-align: center;
    color: black;
    font-size: 2em;
}

.vermelho {
    text-align: center;
    color: red;
    font-size: 3.5em;
    font-weight: bold;
}

.azul {
    text-align: center;
    color: blue;
    font-size: 2.5em;
}

.verde {
    text-align: center;
    color: green;
    font-size: 1.5em;
}
